@import "katex/dist/katex.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root,
	:root[data-theme="light"] {
		color-scheme: light;
		/* https://tailwindcss.com/docs/customizing-colors#using-css-variables */
		--theme-bg: 0deg 0% 98%;
		--theme-link: 172deg 18% 41%;
		--theme-text: 203deg 11% 15%;
		--theme-accent: 351deg 66% 48%;
		--theme-accent-2: 0deg 0% 7%;
		--theme-quote: 351deg 66% 48%;
	}

	:root[data-theme="dark"] {
		color-scheme: dark;
		--theme-bg: 231deg 15% 18%;      /* #282a36 - Background */
		--theme-link: 326deg 100% 74%;   /* #ff79c6 - Pink */
		--theme-text: 60deg 30% 96%;     /* #f8f8f2 - Foreground */
		--theme-accent: 135deg 94% 65%;  /* #50fa7b - Green */
		--theme-accent: 326deg 100% 74%; /* #ff79c6 - Pink */
		--theme-accent-2: 191deg 97% 77%;/* #8be9fd - Cyan */
		--theme-quote: 65deg 92% 76%;    /* #f1fa8c - Yellow */
	}

	html {
		@apply scroll-smooth;
	}

	body {
		@apply mx-auto flex min-h-screen max-w-3xl flex-col bg-bgColor px-8 pt-16 font-mono text-sm font-normal text-textColor antialiased;
	}
}
