---
import aboutImg from "@/assets/about-astro.png";
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";

const meta = {
	description: "",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
        I specialize in zero-knowledge protocols. Previously, I received grants from Starkware and Mina Protocol, and contributed to Index Coop DAO.
        <br>
        <br>
        Before crypto, I studied philosophy and finance, and served as an infantry captain in the US Marine Corps.
		</p>
		<p></p>
		<ul class="list-inside list-disc">
		</ul>
		<p>
			Shoot me a note on <a
				aria-label="github repository"
				class="cactus-link inline-block"
				href="https://t.me/bigsky7"
				rel="noopener noreferrer"
				target="_blank">telegram</a
			> I'm always happy to collaborate!
		</p>
	</div>
</PageLayout>
