---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";
import { Code } from "astro:components";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const cactusTech: { desc: string; href: string; title: string }[] = [
	{
		desc: "AI meme coin with self-reinforcing feedback loops of adoption and growth.",
		href: "https://www.twitchingshadows.net/",
		title: "Spooky AGI",
	},
	{
		desc: "SuperSpartan prover. Winner of ZK HACK Montreal Chewing Glass Award",
		href: "https://youtu.be/DFFgxRoDyzs?si=82sKaYpkA-GQFiO7&t=2498",
		title: "Sparta(0)",
	},
	{
		desc: "Prototype STIR prover written in Golang",
		href: "https://github.com/bigsky77/HACKSTIR",
		title: "HackSTIR",
	},
	{
		desc: "Run PLONK Prover faster on the GPU",
		href: "https://youtu.be/lG3l8Wnw5uU",
		title: "PLONK GPU Hardware Acceleration",
	},
	{
		desc: "Next generation AI social built on Telegram",
		href: "https://youtu.be/jIfJ4bAH-w0",
		title: "SkyBot",
	},
	{
		desc: "Fully on-chain game written using Cairo Circuits",
		href: "https://youtu.be/DfvUR46RtWk",
		title: "Death-Machine",
	},
	{
		desc: "Build AI-powered Agents for Twitter",
		href: "https://github.com/bigsky77/twitter-agent",
		title: "Twitter-Agent",
	},
	{
		desc: "Starknet Stablecoin AMM",
		href: "https://github.com/bigsky77/hyperion",
		title: "Hyperion",
	},
];
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Exploring the Frontier of Zero-Knowledge</h1>
		<p class="mb-4">
		<i>
		  Every few years, a technology emerges that changes everything...
    </i>

			<br />
			<br />
			<b>Psycho Virtual</b> is a research lab dedicated to accelerating the adoption of Zero Knowledge Cryptography.
            We leverage advanced mathematics and algorithms to build <i>super-fast</i> applications at the forefront of modern technology.
			<br />
		</p>
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Technologies</h2>
		<dl class="space-y-4">
			{
				cactusTech.map(({ desc, href, title }) => (
					<div class="flex flex-col gap-2 sm:flex-row">
						<dt>
							<span class="flex">
								<a class="cactus-link" href={href} rel="noopener noreferrer" target="_blank">
									{title}
								</a>
								:
							</span>
						</dt>
						<dd>{desc}</dd>
					</div>
				))
			}
		</dl>
	</section>
</PageLayout>
